<!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">EDIT USER</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"> -->
    <app-nav-dashboard></app-nav-dashboard>
    <!-- <app-nav></app-nav> -->
   
    <div></div>
    <div class="container">
    <!-- <div *ngFor="let users of user"> -->
    <form [formGroup]="editForm" class="form-horizontal" role="form" (submit)="updateUser()" >
        <h2>UPDATE USER</h2>

        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucess!</strong> Updated Successfully
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" class="btn btn-success submit-button" (click)="adminhome()">OK</button>
        </div>
        <!-- <div *ngIf="alert1" class="alert alert-warning alert-dismissible fade show" role="alert1">
            <strong>Failure!</strong> Email Id already exists
            <button (click)="closeAlert1()" type="button" class="close" data-dismiss="alert1" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->

        <div class="form-group">
            <label for="" class="col-sm-3 control-label"><span class="help-block" ></span></label>
            <div class="col-sm-9">
                <input formControlName="user_id"  type="text" id="userid" placeholder="User Id" class="form-control" required autofocus hidden >
            </div>
        </div>
        <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Full Name<span class="help-block">*</span></label>
            <div class="col-sm-9">
                <input formControlName="name"  type="text" id="fullname" placeholder="Full Name" class="form-control" required autofocus>
            </div>
        </div>
   
       
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email<span class="help-block">*</span> </label>
            <div class="col-sm-9">
                <input formControlName="email"  type="email"  id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" class="form-control" name= "email" required>
            </div>
           
        </div>
       
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-3 control-label">Phone number<span class="help-block">*</span> </label>
            <div class="col-sm-9">
                <input formControlName="phone" type="text" id="phoneNumber" pattern="^[7-9][0-9]{9}$" placeholder="Phone number" class="form-control" required>
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" >Gender<span class="help-block">*</span></label>
            <!-- <div class="row"> -->
                <div class="col-md-6" >
             <label class="md-check">
                <input type="radio" value="Male" name="gender" formControlName="gender">Male
             </label>
             <label class="md-check">
                <input type="radio" value="Female" name="gender" formControlName="gender">Female    
             </label>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="control-label col-sm-3">Role<span class="help-block">*</span></label>
            <div class="col-sm-9">
            <select formControlName="role" name="role" id="role" class="form-control" required>
                <!-- <option selected>Select Any</option> -->
                <option>Admin</option>
                <option>User</option>
            </select>
            </div>
    
        </div>
        <!-- <div class="modal-footer">
            <button  class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancel</button>
            <button  class="btn btn-primary mr-2" [disabled]="!editForm.valid">Update</button>
        </div> -->

        <div class=button>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!editForm.valid" >Update User</button>
        </div>
        <div class=button2>
            <button  class="btn btn-primary btn-block" (click)="backtoadmindashboard()">Cancel</button>
        </div>
         
    </form>
    <!-- </div> -->
    </div>
  <!-- </div> -->
  
  
  
  
  
  
  
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    [disabled]="isLoading"
  </div> -->
